.chart {
    margin: auto;
    width: 1000px;
    height: 1000px;
    background-color: lightgray;
    text-align: center;
}

#barChart {
    background-color: white;
}

#barChartTitle {
    background-color: white;
}

#donutChart {
    background-color: white;
    margin: auto;
}

#tip {
    background-color: white;
    position: absolute;
    left: -200px;
    top: 100px;
    border: solid blue 1px;
}
