.container {
    width: 1263px;
    margin: auto;
    position: relative;
    font-family: 'Tahoma';
}

#main {
    position: relative;
    margin: 0 auto;
    padding: 0px 30px;
    width: 600px;
    background: #dddede;
    border: 1px solid #ccc;
}

#prev-slide, #next-slide {
    position: absolute;
    top: 132px;
    width: 18px;
    height: 31px;
    text-indent: -99999px;
    cursor: pointer;
}

#prev-slide {
    left: 5px;
    /*background: url(images/prev-arrow.png) no-repeat 0 0;*/
}

#next-slide {
    right: 5px;
    /*background: url(images/next-arrow.png) no-repeat 0 0;*/
}

#wrap-slider {
    position: relative;
    overflow: hidden;
    background: #fff;
}

#slider {
    position: absolute;
    left: 0;
    top: 0;
}

.slide-box {
    width: 600px;
    height: 245px;
    display: block;
    float: left;
}
