.chart{
    margin: auto;
    width: 1000px;
    height: 1000px;
    background-color: lightgray;
}
#barChart{
    background-color: white;
}
#barChartTitle{
    background-color: white;
}
#donutChart{
    background-color: white;
}